= form_for @artist do |f|
  - if @artist.errors.any?
    %h2
      = pluralize(@artist.errors.count, "error") 
      prohibited this record from being saved.
    %ul
      - @artist.errors.full_messages.each do |message|
        %li= message
  = f.label :name
  = f.text_field :name
  %br/
  = f.label :image_path
  = f.text_field :image_path
  %br/
  = f.submit
