%h4 Add a new song for #{@artist.name}

= form_for [@artist, @song] do |f|
  = render partial: "shared/errors", locals: { target: @song }

  = f.label :title
  = f.text_field :title
  %br/
  = f.submit
